name: Ubuntu

on:
  workflow_dispatch:

jobs:
  ubuntu-rdp:
    runs-on: ubuntu-latest
    timeout-minutes: 3600

    steps:
      - name: Update System
        run: sudo apt update -y

      - name: Install Desktop & RDP
        run: |
          sudo apt install -y xfce4 xfce4-goodies xrdp
          sudo systemctl enable xrdp
          sudo systemctl start xrdp
          echo xfce4-session > ~/.xsession

      - name: Set Password
        run: |
          echo "runner:SWT@rahi@2026" | sudo chpasswd
          sudo usermod -aG ssl-cert runner

      - name: Install Basic Tools
        run: |
          sudo apt install -y \
            git curl wget net-tools \
            nmap python3 python3-pip \
            nodejs npm

      - name: Install Visual Studio Code
        run: |
          sudo apt install -y software-properties-common apt-transport-https
          wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > packages.microsoft.gpg
          sudo install -o root -g root -m 644 packages.microsoft.gpg /etc/apt/trusted.gpg.d/
          sudo sh -c 'echo "deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" > /etc/apt/sources.list.d/vscode.list'
          sudo apt update
          sudo apt install -y code
          rm -f packages.microsoft.gpg

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          sudo tailscale up \
            --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} \
            --hostname=gh-ubuntu-vscode

      - name: Show RDP Details
        run: |
          echo "======================================"
          echo " UBUNTU RDP + VS CODE READY"
          echo "--------------------------------------"
          echo " IP       : $(tailscale ip -4)"
          echo " USER     : runner"
          echo " PASSWORD : SWT@rahi@2026"
          echo " PORT     : 3389"
          echo " TOOLS    : VS Code, Git, Python, Node"
          echo "======================================"

      - name: Keep Runner Alive
        run: |
          while true; do
            sleep 300
          done
